absl-py==0.15.0
actionlib==1.14.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aiosignal==1.3.1
angles==1.9.13
anyio==3.7.1
aruco_detect==0.12.0
astunparse==1.6.3
async-timeout==3.0.1
attrs==23.2.0
base_local_planner==1.17.3
blessed==1.20.0
blinker==1.6.3
bondpy==1.8.6
Brotli==1.0.9
cached-property==1.5.2
cachetools==5.3.3
camera-calibration==1.17.0
camera-calibration-parsers==1.12.0
catkin==0.8.10
certifi==2024.2.2
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.3
colorful==0.5.6
colorlog==6.8.2
controller-manager==0.20.0
controller-manager-msgs==0.20.0
cryptography==38.0.2
curobo==0.2
cv-bridge==1.16.2
cycler==0.11.0
decorator==5.1.1
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
distlib==0.3.8
dnspython==2.3.0
dynamic-reconfigure==1.7.3
embreex==2.17.7.post4
exceptiongroup==1.2.1
filelock==3.12.2
flatbuffers==1.12
fonttools==4.38.0
freetype-py==2.4.0
frozenlist==1.3.3
future==0.18.3
gast==0.4.0
gazebo_plugins==2.9.2
gazebo_ros==2.9.2
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
google-api-core==2.19.0
google-auth==2.23.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.63.1
gpustat==1.1.1
grpcio==1.34.1
h11==0.14.0
h5py==3.1.0
httpcore==0.17.3
httpx==0.24.1
idna==3.7
image-geometry==1.16.2
imageio==2.9.0
importlib-metadata==4.11.4
importlib-resources==5.12.0
interactive-markers==1.12.0
-e git+https://github.com/yding25/LLM_Manipulation.git@ee96dd8bafbdc8efec490d35e5fab650e7b6481a#egg=isaacgym&subdirectory=isaacgym/python
joint-state-publisher==1.15.1
joint-state-publisher-gui==1.15.1
jsonschema==4.17.3
Keras==2.3.0
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
laser_geometry==1.6.7
lxml==5.2.2
mapbox-earcut==1.0.1
Markdown==3.6
MarkupSafe==2.1.1
matplotlib==3.5.3
message-filters==1.16.0
moveit-commander==1.1.14
moveit-core==1.1.14
moveit-ros-planning-interface==1.1.14
moveit-ros-visualization==1.1.14
msgpack==1.0.5
multidict==6.0.2
networkx==2.2
ninja==1.11.1.1
numpy==1.21.0
numpy-quaternion==2023.0.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-ml-py==12.555.43
-e git+https://github.com/NVlabs/curobo.git@0c51dd2da8d4a76ebaa0dee4e302ef88e504bce0#egg=nvidia_curobo
oauthlib==3.2.2
olefile==0.47
openai==0.28.1
opencensus==0.11.3
opencensus-context==0.1.3
opencv-python==4.10.0.82
opt-einsum==3.3.0
packaging==24.0
pandas==1.3.5
Pillow==8.2.0
pkgutil_resolve_name==1.3.10
platformdirs==2.6.1
plotly==5.18.0
prometheus-client==0.17.1
proto-plus==1.23.0
protobuf==3.20.3
psutil==5.9.8
py-spy==0.3.14
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybind11==2.12.0
pycollada==0.6
pycparser==2.21
pydantic==1.9.2
pyglet==2.0.10
PyJWT==2.8.0
pymongo==4.7.3
PyOpenGL==3.1.0
pyOpenSSL==23.2.0
pyparsing==3.1.2
pyrender==0.1.45
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-qt-binding==0.4.4
pytz==2024.1
pyu2f==0.1.5
PyWavelets==1.3.0
PyYAML==6.0
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
ray==2.7.2
requests==2.32.2
requests-oauthlib==2.0.0
resource_retriever==1.12.7
rosapi==0.11.17
rosbag==1.16.0
rosboost-cfg==1.15.8
rosbridge-library==0.11.17
rosbridge-server==0.11.17
rosclean==1.15.8
roscreate==1.15.8
rosgraph==1.16.0
roslaunch==1.16.0
roslib==1.15.8
roslint==0.12.0
roslz4==1.16.0
rosmake==1.15.8
rosmaster==1.16.0
rosmsg==1.16.0
rosnode==1.16.0
rosparam==1.16.0
rospy==1.16.0
rosservice==1.16.0
rostest==1.16.0
rostopic==1.16.0
rosunit==1.15.8
roswtf==1.16.0
rqt-console==0.4.12
rqt-image-view==0.4.17
rqt-logger-level==0.4.12
rqt-moveit==0.5.11
rqt-reconfigure==0.5.5
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.15
rqt-runtime-monitor==0.5.10
rqt-rviz==0.7.0
rqt-tf-tree==0.6.4
rqt_action==0.4.9
rqt_bag==0.5.1
rqt_bag_plugins==0.5.1
rqt_dep==0.4.12
rqt_graph==0.4.14
rqt_gui==0.5.3
rqt_gui_py==0.5.3
rqt_launch==0.4.9
rqt_msg==0.4.10
rqt_nav_view==0.5.7
rqt_plot==0.4.13
rqt_pose_view==0.5.11
rqt_publisher==0.4.10
rqt_py_common==0.5.3
rqt_py_console==0.4.10
rqt_robot_steering==0.5.12
rqt_service_caller==0.4.10
rqt_shell==0.4.11
rqt_srv==0.4.9
rqt_top==0.4.10
rqt_topic==0.4.13
rqt_web==0.4.10
rsa==4.9
Rtree==1.0.1
rviz==1.14.25
scikit-image==0.19.3
scipy==1.7.3
sensor-msgs==1.13.1
setuptools-scm==7.1.0
shapely==2.0.4
six==1.15.0
smach==2.5.2
smach-ros==2.5.2
smart-open==7.0.4
smclib==1.8.6
sniffio==1.3.1
sound-play==0.3.17
srdfdom==0.6.4
svg.path==6.2
tenacity==8.2.3
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==1.1.0
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.7
tf2-kdl==0.7.7
tf2-py==0.7.7
tf2-ros==0.7.7
tifffile==2021.11.2
tomli==2.0.1
topic-tools==1.16.0
torch==1.13.1
torchaudio==0.12.1
torchvision==0.13.1
tqdm==4.66.4
trimesh==4.4.1
typing-extensions==3.7.4.3
urdfdom-py==0.4.6
urdfpy==0.0.22
urllib3==1.26.18
vhacdx==0.0.6
virtualenv==20.21.0
warp-lang==1.2.0
wcwidth==0.2.13
Werkzeug==2.2.3
wrapt==1.12.1
xacro==1.14.18
xatlas==0.0.9
xxhash==3.4.1
yarl==1.7.2
yourdfpy==0.0.53
zipp==3.15.0
